# Игнорируем зависимости, которые будут установлены внутри контейнера
node_modules
server/node_modules

# Игнорируем логи и временные файлы
*.log
logs/
server/logs/

# Игнорируем файлы, специфичные для операционной системы
.DS_Store

# Игнорируем скомпилированные файлы, так как сборка происходит в контейнере
dist
server/dist

# Игнорируем переменные окружения
.env
server/.env

# Игнорируем git-файлы
.git
.gitignore
.gitattributes

# Игнорируем файлы Docker, чтобы они не попали сами в себя
Dockerfile
docker-compose.yml
.dockerignore 